<!DOCTYPE html>
<html>
<head>
    <title>Optimization Visualization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;">
        Your browser does not support the HTML canvas tag.
    </canvas>
    <br>

    <button class="mode-button" id="select_mode_Button" onclick="changeMode('select_mode')">Select mode</button>
    <button class="mode-button" id="point_mode_Button" onclick="changeMode('point_mode')">Point mode</button>
    <button class="mode-button" id="line_mode_Button" onclick="changeMode('line_mode')">Line mode</button>
    <br>

    <!-- マウス座標を表示するためのdiv -->
    <div id="mouse-coordinates-canvas"></div>
    <div id="mouse-coordinates-cad"></div>
    <br>

    <div id="scale"></div>
    <div id="leftTop"></div>
    <div id="rightBottom"></div>
    <br>

    <script src="static/script.js"></script>

</body>
</html>