<!DOCTYPE html>
<html>
<head>
    <title>Optimization Visualization</title>
</head>
<body>


    <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;">
        Your browser does not support the HTML canvas tag.
    </canvas>

    <div id="scale"></div>
    <div id="leftTop"></div>
    <div id="rightBottom"></div>
    <br>

    <select id="shapeSelect">
        <option value="Point">Point</option>
        <option value="Line">Line</option>
        <!-- 他の図形もここに追加 -->
    </select>

    <script src="static/script.js"></script>
</body>
</html>